body {
  background-color: #1b223b;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 400;
}

main {
  display: inline-block;
  background-color: #fafafa;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}

/*------nav bar -----*/

.nav-link {
  background-color: #1b223b;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  list-style: none;
  padding: 10px 28px;
  border-radius: 25px;
}
.nav-link:hover {
  background-color: #e99540;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #fafafa;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  align-items: center;
}

.logo,
.nav-links,
.cart {
  display: flex;
}

.logo {
  max-width: 120px;
  padding: 20px 20px;
  flex: 1;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.cart,
.searchicon {
  max-width: 20px;
  flex: 1;
  padding-right: 25px;
  justify-content: flex-end;
}

a:link,
a:visited {
  text-decoration: none;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}

/*------index page -----*/
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.game-tiles {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.game-image {
  width: 100%;
  max-height: 13rem;
  object-fit: cover;
  display: block;
}

.game-content {
  font-size: 0.9em;
  padding: 15px;
  background: white;
}

.addcart {
  background-color: #1b223b;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.addcart:hover {
  background-color: #e99540;
}

/*------login page -----*/
.form {
  display: block;
  max-width: 350px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background: #fafafa;
  padding: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.button-box {
  width: 280px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}

.toggle {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #e99540;
  border-radius: 30px;
  transition: 0.3s;
}

.input-grp {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.3s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px #e99540;
  outline: none;
  background: transparent;
}

.submit-btn,
.add2,
.sendcontact {
  text-align: center;
  max-width: 55%;
  padding: 10px 30px;
  display: block;
  margin: auto;
  background: #1b223b;
  border: 0;
  color: white;
  outline: none;
  border-radius: 30px;
}

.submit-btn:hover,
.add2:hover,
.sendcontact:hover {
  background: #e99540;
}

.submit-btn a:visited,
.add2 a:visited,
.sendcontact a:visited {
  color: white;
}

.check {
  margin: 30px 10px 30px 0;
}

span {
  color: #1b223b;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

/*------gamepage -----*/
.gamepagecard {
  margin: 2rem 0;
}

.gamepagecard .n4s {
  display: grid;
  align-items: center;
  justify-content: center;
}

.n4sinfo {
  max-width: 400px;
  margin: auto;
}

.n4simg {
  max-width: 80%;
  padding: 20px;
  margin: auto;
}
.n4s {
  padding: 20px;
  align-content: center;
}

h3 {
  text-align: left;
}

/*------checkout -----*/
.cart-page {
  margin: 20px auto;
  max-width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
th {
  text-align: left;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  background: #e99540;
}
td {
  padding: 20px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td img {
  max-width: 200px;
  max-height: 250px;
  margin-right: 10px;
  object-fit: cover;
}

.checkinf {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: none;
  appearance: none;
  padding: 25px;
  border-radius: 3px;
  width: 100%;
  outline: none;
  background: #fafafa;
}

h2 {
  margin: auto;
  padding: 25px;
}

/*------checkout success -----*/
.checkmark {
  max-width: 30%;
  padding: 30px;
  margin-left: 30%;
}

/*------account -----*/

.accountsite .accountinfo {
  display: flex;
  flex-wrap: wrap;
}

.accountimg {
  max-width: 200px;
  justify-content: center;
  margin-left: 40%;
}
.accountinfo {
  padding: 20px;
  max-width: 400px;
  margin-left: 35%;
}

/*------contact and sell -----*/
.contact-form {
  width: 90%;
  background: #fafafa;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;
}
.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
  padding: 20px;
}
.txtbox {
  border: 1px #1b223b;
  margin: 8px 0;
}

.txtbox label {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
}
.txtbox input,
.txtbox textarea {
  width: 50%;
  border: none;
  background: none;
  margin-top: 6px;
}

/*------media only -----*/
@media only screen and (max-width: 1040px) {
  #toggle:checked + .nav-links {
    display: block;
  }
  label {
    display: block;
    cursor: pointer;
  }
  .nav-links {
    text-align: center;
    width: 100%;
    display: none;
    margin-bottom: 10px;
  }
  .nav-links a {
    display: block;
    margin-bottom: 10px;
  }

  .container {
    display: inline;
    margin-bottom: 5px;
  }

  .n4s,
  .n4sinfo {
    display: inline;
  }
}
